<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.travel.Mapper.ProductMapper">



    <insert id="insertBatch">
        INSERT INTO order_details(order_id, product_id, quantity, price)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.order_id}, #{item.product_id}, #{item.quantity}, #{item.price})
        </foreach>
    </insert>
</mapper>